
<style>
  @media(max-width:1200px){
    .font-size{
      font-size: 15px;
    }
    .font-size-tow{
      font-size: 13px;
    }
  }
  @media(max-width:700px){
    .width-size{
      width: 50%;
    }
  }
  @media(max-width:870px){
    .width-size{
      width: 50%;
    }
  }
</style>

@if (isLoading) {
  <div class="loader-container">
     <div class="container d-flex flex-column align-items-center mb-5 shadow py-3 pt-5 rounded-1 w-50" style="margin-top: 100px;">
        <h5 class="font-size text-center">Please Wait before We Complete your Booking</h5>
        <p class="mb-3 font-size-tow text-center">Please Wait, We are processing the booking -- it can take a few minutes</p>
      <div class="loader text-primary width-size"></div>
      <p class="mb-4">Connecting To Hotel</p>
    </div>
  </div>
  }


@if (!isLoading) {
<section class="py-4 my-5 ">
  <div class="container my-4">
    <div class="row">
      <div class="col-md-10 col-xl-8 mx-auto">
        <div class="card shadow">
         <!--  <img src="assets/images/gallery/04.jpg" class="rounded-top" alt="" />
 -->
          <div class="card-body text-center p-4">
            <div class="text-success d-flex align-items-center justify-content-center m-auto w-75">
              <i class="fa-regular fs-4  fa-circle-check me-2"></i>
              <h3 class="card-title text-success">Congratulations!</h3>
            </div>

            <h6 class="lead mb-4 ">Your Hotel Booking has been Confirm-unPaid</h6>


            <div class="row justify-content-between text-start mb-4">
              <div class="col-lg-6">
                <ul class="list-group list-group-borderless">
                  <li
                    class="list-group-item d-sm-flex justify-content-between align-items-center"
                  >
                    <span class="mb-0"
                      ><i class="bi bi-vr fa-fw "></i>Booking ID:</span
                    >
                    <span class="h6 fw-normal mb-0"> HXM-1000</span>
                  </li>
                  <li
                    class="list-group-item d-sm-flex justify-content-between align-items-center"
                  >
                    <span class="mb-0"
                      ><i class="bi bi-calendar fa-fw "></i>Check-in Date:</span
                    >
                    <span class="h6 fw-normal mb-0"> 15 Aug 2022</span>
                  </li>


                <li
                class="list-group-item d-sm-flex justify-content-between align-items-center"
              >
                <span class="mb-0"
                  ><i class="bi bi-person fa-fw "></i>Guest Name:</span
                >
                <span class="h6 fw-normal mb-0"> Frances Guerrero</span>
              </li>



                  <li
                  class="list-group-item d-sm-flex justify-content-between align-items-center"
                >
                  <span class="mb-0"
                    ><i class="bi bi-wallet2 fa-fw "></i>Payment
                    Method:</span
                  >
                  <span class="h6 fw-normal mb-0"> Agent Balance</span>
                </li>
                </ul>
              </div>

              <div class="col-lg-5">
                <ul class="list-group list-group-borderless">
                  <li
                    class="list-group-item d-sm-flex justify-content-between align-items-center"
                  >
                    <span class="mb-0"
                      ><i class="bi bi-calendar fa-fw "></i>Booking Date:</span
                    >
                    <span class="h6 fw-normal mb-0"> 29 July 2022</span>
                  </li>
                  <li
                  class="list-group-item d-sm-flex justify-content-between align-items-center"
                >
                  <span class="mb-0"
                    ><i class="fa-solid fa-hotel "></i>Hotel Name:</span
                  >
                  <span class="h6 fw-normal mb-0"> hotel name</span>
                </li>
                  <li
                    class="list-group-item d-sm-flex justify-content-between align-items-center"
                  >
                    <span class="mb-0"
                      ><i class="bi bi-people fa-fw "></i>Guests:</span
                    >
                    <span class="h6 fw-normal mb-0"> 2 Adult, 0 Child</span>
                  </li>
                  <li
                  class="list-group-item d-sm-flex justify-content-between align-items-center"
                >
                  <span class="mb-0"
                    ><i class="fa-regular fa-credit-card "></i>Total
                    Price:</span
                  >
                  <span class="h6 fw-normal mb-0">
                    {{ currencyType }}1200</span
                  >
                </li>

                </ul>
              </div>
            </div>

            <div class="d-sm-flex justify-content-sm-end d-grid">
              <div ngbDropdown class="dropdown me-sm-2 mb-2 mb-sm-0">
                <a
                  class="btn btn-light mb-0 w-100 arrow-none"
                  role="button"
                  href="agent/dashboard"
                >
                  Manage Booking
                </a>
              </div>
              <div ngbDropdown class="dropdown me-sm-2 mb-2 mb-sm-0">
                <a
                  class="btn btn-light mb-0 w-100 arrow-none"
                  role="button"
                >
                  InVoice pdf
                </a>
              </div>
              <a href="javascript:void(0);" class="btn btn-primary mb-0"
                ><i class="bi bi-file-pdf "></i>Voucher pdf</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}

