

<div class="col-xl-10 position-relative mt-n3 mt-xl-n9">

  <p class="fs-5" style="margin-bottom: -6px;">Check Availability</p>
  <form class="card shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4">

    <div class="row g-4 align-items-center">
      <div class="col-lg-4">
        <div
          class="form-control-border form-control-transparent form-fs-md d-flex align-items-center">
          <i class="bi bi-geo-alt fs-4 me-2 mt-2"></i>

          <div class="flex-grow-1">
            <label class="form-label">Location</label>
            <select selectFormInput data-search-enabled="true">
              <option value="-1" disabled selected>Select location</option>
              <option>San Jacinto, USA</option>
              <option>North Dakota, Canada</option>
              <option>West Virginia, Paris</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="d-flex align-items-center">
          <i class="bi bi-calendar fs-4 me-2 mt-2"></i>

          <div class="form-control-border form-control-transparent form-fs-md">
            <label class="form-label">Check in - out</label>
            <input
              type="text"
              mwlFlatpickr
              [flatpickrOptions]="{ mode: 'range', dateFormat: 'd M', onChange: updateNights }"
              class="form-control flatpickr"
              placeholder="Select date"
              id="datePicker"
            />
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div
          class="form-control-border form-control-transparent form-fs-md d-flex align-items-center"
        >
          <i class="bi bi-person fs-4 me-2 mt-2"></i>

          <div class="w-100">
            <label class="form-label">Guests & Rooms</label>
            <div ngbDropdown #dropdown="ngbDropdown" class="dropdown guest-selector position-relative" >
              <input
                ngbDropdownToggle
                type="text"
                class="form-guest-selector form-control selection-result py-2 px-3 rounded shadow-sm"
                [value]="getGuestsValue()"
                data-bs-auto-close="outside"
                data-bs-toggle="dropdown"
                readonly
              />

              <ul
                ngbDropdownMenu
                class="dropdown-menu guest-selector-dropdown p-3 shadow rounded-3"
                style="width: 100%; max-width: 450px;"
              >
                <!-- Loop for each room -->
                 @for (room of formValue.rooms; track $index; let i = $index) {
                <li class="d-flex flex-column mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-1 fs-6 fw-bold">Room {{ i + 1 }} of {{ formValue.rooms.length }}</h6>

                    <!-- Remove Room Button -->
                     @if (formValue.rooms.length > 1) {
                      <i class="bi bi-trash" (click)="removeRoom(i)" style="cursor: pointer;"></i>
                  }
                  </div>

                  <!-- Adults Section -->
                  <div class="d-flex justify-content-between my-2">
                    <div class="d-flex justify-content-between my-2">
                      <span>Adults</span>
                      <div class="d-flex align-items-center ms-1">
                          <i class="bi bi-dash-circle" style="cursor: pointer;" (click)="updateRoomGuests(i, 'adults', false)"></i>
                        <span class="px-1">{{ formValue.rooms[i].adults }}</span>
                          <i class="bi bi-plus-circle" style="cursor: pointer;" (click)="updateRoomGuests(i, 'adults', true)"></i>
                      </div>
                    </div>

                     <!-- Children Section -->
                     <div class="d-flex justify-content-center my-2">
                      @if (formValue.rooms[i].children.length < 2) {
                      <span class="text-primary" style="cursor: pointer;" (click)="updateRoomGuests(i, 'children', true)">+ add child</span>
                    }
                    </div>
                  </div>


                  <!-- Child age input fields -->
                  @if (formValue.rooms[i].children.length > 0) {
                    <div class="mt-2">
                      @for (childAge of formValue.rooms[i].children; track $index;let j = $index) {
                        <div class="d-flex align-items-center mb-2 justify-content-between">
                          <span>Child {{ j + 1 }} Age: </span>
                          <div class="d-flex align-items-center">
                            <select
                              class="form-control form-control-sm mx-1"
                              [(ngModel)]="formValue.rooms[i].children[j]"
                              style="width: 50px;height: 30px;"
                            >
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                            </select>
                            <i class="bi bi-x-circle" (click)="removeChild(i, j)" style="cursor: pointer;"></i>
                          </div>
                        </div>

                    }
                    </div>
                  }




                </li>
              }

              <div class="d-flex justify-content-between align-items-center mt-3">
                <!-- Add Room Button -->
                 @if (formValue.rooms.length<5) {
                  <div class="d-flex justify-content-center">
                    <button
                      type="button"
                      class="btn btn-outline-primary btn-sm rounded-pill"
                      (click)="addRoom()"
                      [disabled]="formValue.rooms.length >= 5"
                    >
                      <i class="bi bi-plus-circle me-1"></i> Add a Room
                    </button>
                  </div>
                 }

                 <div class="d-flex justify-content-center">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm rounded-pill"
                  >
                    Apply
                  </button>
                </div>

              </div>
              </ul>
            </div>
          </div>




        </div>
      </div>
    </div>
    <div class="row g-4 align-items-center mt-1">
      <div class="col-lg-4">
        <div
          class="form-control-border form-control-transparent form-fs-md d-flex align-items-center"
        >
          <i class="fa-solid fa-earth-asia fs-5 me-2 mt-2"></i>
          <div class="flex-grow-1">
            <label class="form-label">Nationality</label>
            <select selectFormInput data-search-enabled="true" >
              <option value="-1" disabled selected>Select Your Country</option>
              <option>San Jacinto, USA</option>
              <option>North Dakota, Canada</option>
              <option>West Virginia, Paris</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-hotel fs-5 me-2 mt-2"></i>

          <div class="form-control-border form-control-transparent form-fs-md">
            <label class="form-label">Hotel Name</label>
            <input
              type="text"
              type="text"
              class="form-control form-select-sm flatpickr"
              placeholder="Hotel Name"
            />
          </div>
        </div>
      </div>

      <div class="col-lg-4 ">
        <a class="btn btn-primary float-end mt-3" style="width: 90%;" href="/hotels/list">
        <div class="d-flex justify-content-between align-items-center">
          <span class="fs-6">Search</span>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        </a>
      </div>

    </div>


  </form>


</div>

