<style>

  @media(max-width:478px){
    .view-map-mobile{
      display: none;
}
  }
  @media(max-width:963px){
    .view-map-button{
      margin-top: 7px;
    }
  }
  @media(min-width:963px){
    .view-map-button{
      margin-left: 7px;
    }
  }
  @media(max-width:530px){
    .hstack{
     flex-direction: column !important;
    }
    .view-map-button{
      margin-left: 7px;
      margin-top: 0;

    }

  }
  @media(max-width:1300px)and (min-width:1200px){
    .hotel-title{
      margin-left: 80px;
  }
  }
  @media(max-width:1200px){
    .title-font-size{
      font-size: 20px;
  }
  }
  @media(max-width:875px){
    .title-font-size{
      font-size: 18px;
  }
  }

</style>


<list-topbar />

<main>
  <div class="container mb-0 pb-0">
    <list-banner />
  </div>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMap" aria-labelledby="offcanvasMapLabel" style="width: 70%;">
    <div class="offcanvas-header mb-0 pb-0">
      <h5 class="offcanvas-title" id="offcanvasMapLabel">Map</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div id="map" style="height: 100%; width: 100%;"></div>
    </div>
  </div>
  <!-- =======================
Hotel list START -->
  <section class="pt-0">
    <div class="container">
      <div class="row mb-1">
        <div class="col-12">
          <div class="hstack flex-lg-row flex-md-column flex-sm-column justify-content-between align-items-center">
            <div class="col-7 htele-section mt-4 d-flex justify-content-between align-items-center">
                 <div class="col-3 modal-body p-0 rounded-2 position-relative" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMap" aria-controls="offcanvasMap">
                  <div class="text-center rounded-2" style="background-image: url('assets/images/map-cover.jpg');height: 45px;width: 95%;">
                    <span class="btn btn-light" style="font-size: 13px; margin-top: 3px;"><span class="view-map-mobile">View</span> Map</span>
                  </div>
                  </div>
                  <h4 class="col-7 title-font-size ps-3">150 Hotels in New York</h4>
              </div>
              <ul
              class="nav nav-pills nav-pills-dark d-flex flex-lg-row flex-sm-row"
              id="tour-pills-tab"
              role="tablist"
            >
            <li class="col-md-12 col-sm-12 me-1 w-auto" ><list-filter-offcanvas /></li>
              <li class="nav-item">
                <a
                  class="nav-link rounded-2 rounded-0 mb-0 me-1"
                  style="font-size:small"
                  role="button"
                  >Stars<i class="fa-solid fa-arrow-down ms-1"></i></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link rounded-2 rounded-0 mb-0 me-1"
                  style="font-size:small"
                  role="button"
                  >Price<i class="fa-solid fa-arrow-down ms-1"></i></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link rounded-2 rounded-0 mb-0"
                  style="font-size:small"
                  role="button"
                  >A-Z<i class="fa-solid fa-arrow-down ms-1"></i></a>
              </li>


              </ul>

          </div>
        </div>
      </div>

      <div class="row">
        <aside class="col-xl-3 col-xxl-3">
          <list-filterbar />
        </aside>

        <div class="col-xl-9 col-xxl-9">
          <list-card />
        </div>
      </div>
    </div>
  </section>

  <!-- =======================
    Hotel list END -->
</main>
<home-list-footer1 />

<!-- Full Screen Map -->
<div class="modal fade" id="fullMapModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0" style="height: 80vh;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d49330450.99003098!2d-4.0312181459581335!3d41.005741724159705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sAll%20Hotels!5e0!3m2!1sen!2sin!4v1727111064565!5m2!1sen!2sin"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
        <button type="button" class="btn btn-primary float-end" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
