<div class="card bg-transparent">
  <div class="card-header border-bottom bg-transparent px-0 pt-0">
    <h5 class="mb-0">General Policies</h5>
  </div>

  <div class="card-body pt-4 p-0">
    <ul class="list-group list-group-borderless mb-2">
      <li class="list-group-item d-flex">
        <i class="bi bi-check-circle-fill me-2"></i>Some hotels implement special rules at the reception during check-in, which we
        must adhere to .
      </li>
      <li class="list-group-item d-flex">
        <i class="bi bi-check-circle-fill me-2"></i>The number of extra beds depends on the room category. You must check the
        information about the size of the selected room.
      </li>
      <li class="list-group-item d-flex">
        <i class="bi bi-check-circle-fill me-2"></i>Guests must typically be 18 or older to check-in .
      </li>
      <li class="list-group-item d-flex">
        <i class="bi bi-check-circle-fill me-2"></i>Policies on the number of guests per room can vary, and additional fees may apply for
        extra guests .        
      </li>
      <li class="list-group-item d-flex">
        <i class="bi bi-x-circle-fill me-2"></i>Hotels may place a hold on your credit card for potential damages or incidentals during
        your stay .
      </li>
      <li class="list-group-item d-flex">
        <i class="bi bi-x-circle-fill me-2"></i>For any update, the customer shall pay applicable cancellation/modification
        charges. Or additional services .
      </li>
    </ul>

    <ul class="list-group list-group-borderless mb-2">
      @for (policy of policies; track $index) {
        <li class="list-group-item h6 fw-light d-flex mb-0">
          <i class="bi bi-arrow-right me-2"></i>{{ policy }}
        </li>
      }
    </ul>


  </div>
</div>
