

<div class="card shadow rounded-2 mb-2">
  <div class="card-header border-bottom d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0">Total Rewards</h5>
    <div>
      <span class="fs-5">100</span>
      <i class="bi bi-trophy text-primary fs-5 fw-bold ms-1"></i>
    </div>
  </div>
</div>
<div class="">
<div class="card shadow">
  <div class="card-header border-bottom">
    <div class="cardt-title">
      <h5 class="mb-0">Offer &amp; Discount</h5>
    </div>
  </div>

  <div class="card-body">
    <div class="input-group mt-3">
      <input class="form-control form-control" placeholder="Coupon code" />
      <button type="button" class="btn btn-primary">Apply</button>
    </div>
  </div>
</div>

</div>
