<div class="card bg-transparent" id="room-options">
  <div class="card-header border-bottom bg-transparent px-0 pt-0">
    <div class="d-sm-flex flex-column justify-content-sm-between align-items-center">
      <div class="col-sm-12 mb-3">
        <h3 class="mb-2 mb-sm-0 ">Room Available</h3>
      </div>
      <div class="d-sm-flex justify-content-sm-between justify-content-between align-items-center col-sm-12">
      <div class="col-sm-4 me-5">
        <form class="">
          <input
            class="form-control border border-2"
            id="roombytype"
            placeholder="Search By Room Type"
          >
        </form>
      </div>
      <div class="col-sm-4">
        <form class="form-control-bg-light d-flex">
          <label for="Breakfast-included" class="me-2 fw-semibold">Breakfast included</label>
          <input type="checkbox" name="Breakfast" id="Breakfast-included">
        </form>
      </div>
      <div class="col-sm-4">
        <form class="form-control-bg-light d-flex">
          <label for="Free-cancellation" class="me-2 fw-semibold">Free cancellation</label>
          <input type="checkbox" name="cancellation" id="Free-cancellation">
        </form>
      </div>
    </div>
    </div>
  </div>

  <div class="card-body pt-4 p-0">
    <div class="vstack gap-4">

        <div class="card shadow p-3">
          <div class="row g-4">

            <div class="col-md-12">
              <div class="card-body d-flex flex-column h-100 p-0">
                <div class="d-flex justify-content-between">
                  <h6 class="card-title col-9">
                    <a href="javascript:void(0);">Luxury Room with Balcony</a>
                  </h6>
                  <div class="d-flex align-items-center col-3 ms-3">
                    <h6 class="fw-semibold mb-0 me-1">
                      $750
                    </h6>
                    <span class="mb-0">/Total Price</span>
                  </div>
                </div>

                <div class="d-flex mb-2 justify-content-between align-items-center">
                  <div class="col-8 d-flex ">
                <p class="mb-0 text-success me-3">
                  <i class="fa-regular fa-circle-check"></i>
                  full-board.
                </p>
                <p class="mb-0 text-success">
                  <i class="fa-regular fa-circle-check"></i>
                  Free Cancellation till 7 Jan 2022.
                </p>
              </div>

                <div class="mt-3 mt-sm-0">
                  <a
                    href="javascript:void(0);"
                    class="btn btn-sm btn-primary mb-0"
                    >Book Now</a
                  >
                </div>
              </div>
                <div
                  class="d-sm-flex justify-content-sm-between align-items-center mt-auto"
                >

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow p-3">
          <div class="row g-4">

            <div class="col-md-12">
              <div class="card-body d-flex flex-column h-100 p-0">
                <h5 class="card-title">
                  <a href="javascript:void(0);">Luxury Room with Balcony</a>
                </h5>
                <div class="d-flex mb-2">

                <p class="mb-0 text-success me-3">
                  <i class="fa-regular fa-circle-check"></i>
                  breakfast.
                </p>
                <p class="mb-0 text-danger">
                  <i class="fa-regular fa-circle-xmark"></i>
                  Non-Refunded.
                </p>
              </div>
                <div
                  class="d-sm-flex justify-content-sm-between align-items-center mt-auto"
                >
                  <div class="d-flex align-items-center">
                    <h5 class="fw-bold mb-0 me-1">
                      $750
                    </h5>
                    <span class="mb-0 me-2">/Total Price</span>
                  </div>

                  <div class="mt-3 mt-sm-0">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-sm btn-primary mb-0"
                      >Book Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<ng-template #roomDetail let-modal>
  <div class="modal-header p-3">
    <h5 class="modal-title mb-0" id="roomDetailLabel">Room detail</h5>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
  </div>

  <div class="modal-body p-0">
    <div class="card bg-transparent p-3">
      <div class="tiny-slider arrow-round arrow-dark overflow-hidden rounded-2">
        <div
          class="tiny-slider-inner rounded-2 overflow-hidden"
          data-autoplay="true"
          data-arrow="true"
          data-dots="false"
          data-items="1"
        >
          <ng-tiny-slider [config]="roomSliderStting" #roomSlider>
            <div>
              <img
                src="assets/images/gallery/16.jpg"
                class="rounded-2"
                alt="Card image"
              />
            </div>

            <div>
              <img
                src="assets/images/gallery/15.jpg"
                class="rounded-2"
                alt="Card image"
              />
            </div>

            <div>
              <img
                src="assets/images/gallery/13.jpg"
                class="rounded-2"
                alt="Card image"
              />
            </div>

            <div>
              <img
                src="assets/images/gallery/12.jpg"
                class="rounded-2"
                alt="Card image"
              />
            </div>
          </ng-tiny-slider>
        </div>
      </div>

      <div class="card-header bg-transparent pb-0">
        <h3 class="card-title mb-0">{{ hotelroomDetail.name }}</h3>
      </div>

      <div class="card-body">
        <p>
          Club rooms are well furnished with air conditioner, 32 inch LCD
          television and a mini bar. They have attached bathroom with showerhead
          and hair dryer and 24 hours supply of hot and cold running water.
          Complimentary wireless internet access is available. Additional
          amenities include bottled water, a safe and a desk.
        </p>

        <div class="row">
          <h5 class="mb-0">Amenities</h5>

          <div class="col-md-6">
            <ul class="list-group list-group-borderless mt-2 mb-0">
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Swimming pool</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Spa</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Kids play area.</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Gym</span>
              </li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="list-group list-group-borderless mt-2 mb-0">
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">TV</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Mirror</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">AC</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Slippers</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
