<style>

  .custom-width {
    width: 100%;
  }
  @media (max-width: 1200px) {
    .custom-width {
      width: 73%;
    }
  }
  @media (min-width: 1290px) {
    .small-text {
      font-size: 15px;
    }

  }
  @media (min-width: 1200px) {
    .small-text {
      width:fit-content;
      font-size: 15px;
    }
  }
</style>

<div class="row g-1 custom-width ms-2">

    <div class="col-md-4 col-xl-3">
      <div class="card card-body border">
        <h6 class="small-text">
          Balance Available

            <i class="fa-regular fa-credit-card text-primary"></i>
        </h6>
        <h5 class="text-success fw-normal fs-4">$78</h5>

      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card card-body border">
        <h6>
          Total Paid
            <i class="ms-2 fa-regular fa-money-bill-1 text-primary"></i>
        </h6>
        <h5 class="text-success fw-normal fs-4">$99</h5>

      </div>
    </div>
    <div class="col-md-4 col-xl-3">
      <div class="card card-body border ">
        <h6>
          UnPaid Amounts
            <i class="ms-2 fa-solid  fa-clock text-primary" ></i>
        </h6>
        <h5 class="text-success fw-normal fs-4">$45</h5>

      </div>
    </div>
</div>



<div class="row g-1 custom-width ms-2">

  <div class="col-md-4 col-xl-3">
    <div class="card card-body border">

      <h6 class="small-text">
        Completed Orders
        <i class="ms-2 fa-solid fa-check text-success"></i>
      </h6>
      <h5 class="text-success fw-normal fs-4">0</h5>
    </div>
  </div>

  <div class="col-md-4 col-xl-3">
    <div class="card card-body border ">
      <h6>
        Canceled Orders
          <i class="ms-2 me-2 fa-solid fa-xmark text-danger" ></i>
      </h6>
      <h5 class="text-danger fw-normal fs-4">0</h5>


    </div>
  </div>
  <div class="col-md-4 col-xl-3">
    <div class="card card-body border ">
      <h6>
        UnPaid Orders
          <i class="ms-2 fa-solid fa-clock text-warning"></i>
      </h6>
      <h5 class="text-warning fw-normal fs-4">0</h5>


    </div>
  </div>
</div>

