<style>
  @media (max-width: 1200px) {
    .not-collabs {
      display: none;
    }
  }
</style>

<div class="not-collabs">
  <ul class="navbar-nav navbar-nav-scroll {{ menuClassName }}">
    @for (item of menuItems; track $index) {
      @if (item.children) {
        <horizontal-menu-item-with-children
          [item]="item"
          [activeMenuItems]="this.activeMenuItems"
          [level]="1"
          [itemClassName]="'nav-item'"
          [linkClassName]="
            'nav-link arrow-none d-flex align-items-center gap-1 justify-content-between' +
            getActiveClass(item)
          "
        />
      } @else {
        <horizontal-menu-item
          [item]="item"
          [level]="1"
          [linkClassName]="getActiveClass(item)"
        />
      }
    }
  </ul>
</div>
