<div class="card bg-light overflow-hidden px-sm-5">
  <div class="row align-items-center g-4">
    <div class="col-sm-9">
      <div class="card-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-dots mb-0">
            <li class="breadcrumb-item">
              <a routerLink="/hotels/detail"><i class="fa-solid fa-arrow-left me-1"></i> Back</a>
            </li>
          </ol>
        </nav>

        <h3 class="m-0 card-title">Review your Booking</h3>
        <h5 class="text-success mt-3"><i class="fa-solid fa-circle-check"></i> Your booking is going to be confirmed in a few steps!</h5>
      </div>
    </div>

    <div class="col-sm-3 text-end d-none d-sm-block">
<!--       <img src="assets/images/element/17.svg" class="mb-n4" alt="" />
 -->    </div>
  </div>
</div>
